<!-- This is what shows the user when they are logged in? -->

<p id="notice"><%= notice %></p>

<div class="flex-container">

  <div class="flex-child image">
    <img src="https://freerangestock.com/sample/120147/business-man-profile-vector.jpg" alt="profile-image" style="width:300px">
  </div>

  <div class="flex-child words">
    <p class="username">
        <%= @user.username %>
    </p>
  
    <p class="role">
      <%= @user.role %>
    </p>

    <p class="bio">
      <%= @user.bio %>
    </p>
  </div>

</div>

<div class="eof-buttons">
  <%= link_to 'Edit Profile', edit_user_path(@user) %> |
  <%= link_to 'Show All Users', users_path %>
</div>